h1{
    color: deeppink;
    background-color: white;
}

p{
    font-size: x-large;
    color: hotpink;
}

h2{
    font-size: xxx-large;
    color: hotpink;
}

ul{
    font-size: large;
}

body{
    background-color: pink;
}
